header {
  display: flex;
  align-items: center;
  width: 100%;
  background: #0d2280;
}

.title {
  color: aliceblue;
  margin-right: auto;
  margin-left: 50px;
  cursor: pointer;
}

.title:hover {
  opacity: 0.5;
}

.menu {
  margin-right: 50px;
}

.logout {
  margin-right: 20px;
}

.child {
  padding: 5px;
}
