.App {
  font-family: sans-serif;
  text-align: center;
  background-color: #ffff;
}

.Icons * {
  margin: 1em;

  text-align: center;
}

.Icons {
  display: inline-block;
  text-align: center;
}

.Icons * :hover {
  color: #0000ff;
  background-color: #e0ffff;
}

.TopMenu {
  display: flex;
}

.UnderMenu {
  display: flex;
}

.IconText {
  font-family: sans-serif;
  font-weight: bolder;
}

.Notice {
  border-radius: 100px black;
}

.NoticeArea {
  resize: none;
  width: 600px;
  height: 100px;
  overflow-y: scroll;
}
